.logoDiv{
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoDiv .logoContainer{
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:var(--bgColor_secondary);

}

